body{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    /* background: rgb(131,58,180);
    background: linear-gradient(256deg, rgba(131,58,180,1) 0%, rgba(253,119,29,1) 50%, rgba(252,176,69,1) 100%); */
    /* background: linear-gradient(to left, rgba(7,27,82,1), rgba(0, 128, 128, 1) 100%) */
    background: rgb(131,58,180);
    background: linear-gradient(256deg, rgba(131,58,180,1) 4%, rgba(253,119,29,1) 85%, rgba(252,176,69,1) 98%);
}